<div class="flex justify-between">
    <div class="flex flex-col">
        <span class="font-semibold text-2xl">{{location}}</span>
        <span class="font-semibold text-2xl">{{tripDuration}}min</span>
        <span class="font-semibold text-xlg">{{tripDistance}}</span>
    </div>
    <!-- <p *ngFor="let instr of tripDirections">{{instr}}</p> -->
    <div>
        <ion-button *ngIf="!showCloseButton"  (click)="onStartClick()">START</ion-button>
        <ion-button *ngIf="showCloseButton" (click)="onCloseClick()" color="danger">
            <ion-icon name="close-outline"></ion-icon>
        </ion-button>
    </div>
</div>