<ion-header [translucent]="true">
  <!-- <ion-toolbar>
    <ion-title *ngIf="deviceName$ | async as deviceName else connect">
      {{deviceName}}
    </ion-title>
    <ng-template #connect>
      <ion-title>
        MicroMobility
      </ion-title>
      
    </ng-template>
  </ion-toolbar> -->
</ion-header>

<ion-content [fullscreen]="true"> 
  <div id="geocoder" class="geocoder"></div>
  <div id="directions" class="card" *ngIf="coords">
    <span class="font-semibold text-lg">{{tripDuration}}"</span>
    <p *ngFor="let instr of tripDirections">{{instr}}</p>
  </div>
    <div id="map"></div>
  

  
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="onStartClick()" color="primary">
      <ion-icon name="map-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>


  
  <!-- <ion-fab vertical="bottom" horizontal="start" slot="fixed">
    <ion-fab-button (click)="findDevice()">
      <ion-icon name="bluetooth-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab> -->
  
</ion-content>
